{% extends "base.html" %} {% block content %}
<h1 class="text-center text-4xl my-8 text-white">Librarian Dashboard</h1>

<!-- Section: Manage Books -->
<div class="row my-4 text-gray-400">
  <div
    class="col-md-12 flex items-center justify-center flex-col border p-20 rounded-3xl mt-12 w-4/5"
  >
    <h3 class="text-3xl mb-8 text-white">Manage Books</h3>
    {% if books %}
    <table class="table">
      <thead class="">
        <tr class="text-gray-200">
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr class="hover hover:text-green-300">
          <td>{{ book[0] }}</td>
          <td>{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>{{ book[3] }}</td>
          <td>
            <a
              href="{{ url_for('delete_book', book_id=book[0]) }}"
              class="btn btn-error btn-sm"
              >Delete</a
            >
            <a
              href="{{ url_for('update_book', book_id=book[0]) }}"
              class="btn btn-warning btn-sm"
              >Update</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No books are available at the moment. Add some to get started!</p>
    {% endif %}
    <a
      href="{{ url_for('add_book') }}"
      class="btn bg-gray-200 btn-wide rounded-full mt-3 mx-auto text-black hover:text-white"
      >Add New Book</a
    >
  </div>
</div>

<!-- Section: Manage Registered Users -->
<div class="row mt-4">
  <div
    class="col-md-12 border p-20 my-12 rounded-3xl flex items-center justify-center flex-col w-4/5 ml-auto"
  >
    <h3 class="text-center text-3xl text-white mb-8">Registered Users</h3>
    {% if users %}
    <table class="table">
      <thead>
        <tr class="text-gray-200">
          <th>#</th>
          <th>User Name</th>
          <th>Borrowed Books</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr class="hover text-gray-400 hover:text-green-300">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>
            <ul>
              {% for book in user.borrowed_books %}
              <li>{{ book[1] }} (ISBN: {{ book[3] }})</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No registered users at the moment.</p>
    {% endif %}
  </div>
</div>

<!-- Section: Handle Overdue Books -->
<div class="row my-4">
  <div class="col-md-12 border p-20 my-12 rounded-3xl">
    <h3 class="text-center text-3xl text-white mb-8">Overdue Books</h3>
    {% if overdue_books %}
    <table class="table">
      <thead>
        <tr class="text-gray-200">
          <th>#</th>
          <th>Book Title</th>
          <th>Borrowed By</th>
          <th>Due Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in overdue_books %}
        <tr class="hover text-gray-400 hover:text-green-300">
          <td>{{ book[0] }}</td>
          <td>{{ book[1] }}</td>
          <td>{{ book[5] }}</td>
          <td>{{ book[6] }}</td>
          <td>
            <a
              href="{{ url_for('send_notification', book_id=book[0]) }}"
              class="btn btn-error btn-sm"
              >Send Alert</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="text-gray-400">No overdue books at the moment.</p>
    {% endif %}
  </div>
</div>

<hr />

{% endblock %}
